Thumbs.db

# Ignore contents of these directories but keep them via .gitkeep
back/dat/access/*
!back/dat/access/.gitkeep

back/tpl/templates_c/*
!back/tpl/templates_c/.gitkeep

back/tpl/configs/*
!back/tpl/configs/.gitkeep

back/tpl/cache/*
!back/tpl/cache/.gitkeep

back/dat/file/*
!back/dat/file/.gitkeep

back/dat/temp/*
!back/dat/temp/.gitkeep

back/dat/log/*
!back/dat/log/.gitkeep

back/dat/error/*
!back/dat/error/.gitkeep
