parameters:
    level: 8
    paths:
        - src
        - tests
        - compare
        - bin
    excludePaths:
        - vendor
        - back
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
