<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnTestsThatTriggerWarnings="true" displayDetailsOnTestsThatTriggerNotices="true" displayDetailsOnIncompleteTests="true" displayDetailsOnSkippedTests="true" failOnDeprecation="true" failOnNotice="true" failOnWarning="true" cacheDirectory=".phpunit.cache" executionOrder="random" beStrictAboutOutputDuringTests="true" requireCoverageMetadata="false">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="golden">
      <directory>tests/Golden</directory>
    </testsuite>
  </testsuites>
  <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
    <include>
      <directory>src</directory>
    </include>
  </source>
  <coverage>
    <report>
      <html outputDirectory="build/coverage/html"/>
      <text outputFile="build/coverage/coverage.txt"/>
      <clover outputFile="build/coverage/clover.xml"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="512M"/>
  </php>
</phpunit>
